@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --green:#e6cec0;
  --dark-color:#403935;
  --black: #444;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover: .1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  transition: width none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background:var(--black); 
}

section{
  padding: 5rem 9%;
}

.heading{
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before{
  content: '';
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: .01rem;
  background: rgba(0,0,0,.1);
  z-index: -1;
}

.heading span{
  font-size: 3rem;
  padding: .5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  border-radius: .5rem;
  color: black;
  background: var(--green);
  font-size: 1.7;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover{
  background: var(--dark-color);
  color: wheat;
}


.header .header-1{
  background: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header .header-1 .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  text-decoration: none;
}

.header .header-1 .logo i{
  color: var(--green);
}

.header .header-1 .search-form{
  width: 50rem;
  height: 5rem;
  border: var(--border);
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}

.header .header-1 .search-form input{
  font-size:1.6rem;
  padding:0 1.2rem ;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.header .header-1 .search-form label{
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .header-1 .search-form label:hover{
  color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
  color: var(--green);
}

#search-btn{
  display: none;
}

.header .header-2{
  background: var(--green);
}
.header .header-2 .nav-bar{
  text-align: center;

}

.header .header-2 .nav-bar a{
  color: black;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
  text-decoration: none;
}

.header .header-2 .nav-bar a:hover{
  background-color: var(--dark-color);
  color: white;
}

.header .header-2.active{
    position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}




/* BOOK SUMMARY */
.synopsis-container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-image {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 120px;
  gap:1.5rem;
  text-align: center;
}
.book-title, .price, .add {
  grid-column: 2/3;
}
.price {
  font-weight: bold;
  font-size: 16px;
}

#add-to-cart {
  width: 130px;
  text-align: center;
  color: black;
  font-size: 11px;
  font-weight: bold;
}
#add-to-cart:hover {
  color: white;
}
.book-summary {
  padding-top: 6%;
}
.top {
  padding-left: 3%;
}
.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  text-indent: 4%;
  font-size: 15px;
  padding-left: 6%;
  padding-right: 6%;
}
/* .reviews {
  text-transform: none;
  text-indent: 4%;
  font-size: 15px;
  padding-left: 5%;
  padding-right: 5%;
}
.reviewer {
  padding-left: 5%;
} */
.similar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.book-name {
  text-transform: none;
  text-align: center;
  font-size: 15px;
}
/* END OF BOOK SUMMARY */



/* REVIEWS */
.blogs .blogs-slider .box{
  margin:2rem 0;
  border: var(--border);
}
.blogs .blogs-slider .box:hover{
  border: var(--border-hover);
}

.blogs .blogs-slider .box .image{
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blogs .blogs-slider .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.blogs .blogs-slider .box:hover .image img{
  transform: scale(1.1);
}

.blogs .blogs-slider .box .content{
  padding:1.5rem;
}

.blogs .blogs-slider .box .content h3{
  font-size: 2.2rem;
  color: var(--black);
}


.blogs .blogs-slider .box .content p{
  font-size: 1.4rem;
  color: var(--light-color);
  text-transform: none;
  text-indent: 35px;
  padding:1rem 0;
  line-height: 2;
}
/* REVIEWS */



body{
  height: 250rem;
}


.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
  }
  
  .login-form-container.active{
    right: 0;
  }
  
  .login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
  
  }
  
  
  .login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
  
  }
  
  .login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  
  .login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
  
  }
  
  .login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
  }
  
  .login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
  
  }
  
  .login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
  }
  
  .login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
  }
  
  .login-form-container form p a{
    color: #c99677;
    text-decoration: underline;
  }
  
  .login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
  }





  /* addtocart */
.cart{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: rgba(255,255,255,9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
  }
  .cart.active{
    right: 0;
  }
  .cart #close-cart-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
  }
  #cart-header{
    text-align: center;
    /* background-color: var(--green); */
    font-size: 3rem;
    height: 10%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  thead {
    font-size: 17px;
    background-color: var(--green);
  }
  tbody {
    text-align: center;
  }
  .num {
    width: 30%;
    font-size: 16px;
  }
  .remove-btn {
    font-size: 13px;
  }
  .remove-btn:hover{
    color: white;
  }

  /* addtocart */













/* .footer {
  padding-top: 17%;
} */
  .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding:1rem 0;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding:1rem 0;
    text-decoration: none;
  }
  
  .footer .box-container .box a i{
    color: var(--green);
    padding: .5rem;
  }
  
  
  .footer .box-container .box a:hover i{
   padding-right: 2rem;
  }
  
  .footer .box-container .box .map{
    width: 100%;
  }
  
  .footer .share{
    padding:1rem 0;
    text-align: center;
    
  }
  
  
  .footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: black;
    background: var(--green);
    margin:0 .3rem;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .footer .share a:hover{
  
    background: var(--black);
    color: white;
  
  }
  
  .footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
  }
  
  .footer .credit span{
    color: #c99677;
  }
  


  .loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader-container.active{
    display: none;
  }
  
  .loader-container img{
    height: 10rem;
  }
  
  
  
  
  
  
  
  /* media queries */
  
  @media( max-width:991px){
    
    html{
      font-size: 55%;
    }
  
    .header .header-1{
      padding:2rem;
    }
  
    section{
      padding:3rem 2rem;
    }
  }
  

  /* MEDIUM MEDIA  */
  @media( max-width:768px){
  
    html{
      scroll-padding-top: 0;
    }
  
    body{
      padding-bottom: 6rem;
    }
    
    .header .header-2{
      display: none;
    }
  
    .bottom-navbar{
      display: block;
    }
  
    #search-btn{
      display: inline-block;
    }
  
    .header .header-1{
      box-shadow: var(--box-shadow);
      position: relative;
    }
  
    .header .header-1 .search-form{
      position: absolute;
      top: -115%; right: 2rem;
      width: 90%;
      box-shadow: var(--box-shadow);
    }
  
    .header .header-1 .search-form.active{
      top: 115px;
    }
  
    .home .row .content{
      text-align: center;
    }
  
    .home .row .content h3{
      font-size: 3.5rem;
    }
  
    .newsLetter{
      background-position: right;
    }
    
    .newsLetter form{
      margin-left: 0;
      max-width: 100%;
    }

/* BOOK SUMMARY */
.synopsis-container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-image {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 120px;
  gap:1.5rem;
  text-align: center;
}
.book-title, .book-price, .add {
  grid-column: 2/3;
}

#add-to-cart {
  width: 130px;
  text-align: center;
  color: black;
  font-size: 11px;
  font-weight: bold;
}
#add-to-cart:hover {
  color: white;
}
.book-summary {
  padding-top: 9%;
}
.top {
  padding-left: 3%;
}
.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  text-indent: 4%;
  font-size: 15px;
  padding-left: 6%;
  padding-right: 6%;
}

.similar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.book-name {
  text-transform: none;
  text-align: center;
  font-size: 15px;
}
/* END OF BOOK SUMMARY */

  }
  



/* SMALL MEDIA  */
  @media( max-width:450px){
    
    html{
      font-size: 50%;
    }
   
    /* BOOK SUMMARY */
.synopsis-container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-image {
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: 360px 40px 50px;
  gap:1.5rem;
  text-align: center;
}
.book-title{
  grid-column: 1/2;
  grid-row: 2/3;
}
.add {
  grid-column: 1/2;
  grid-row: 3/4;
}

#add-to-cart {
  width: 130px;
  text-align: center;
  color: black;
  font-size: 11px;
  font-weight: bold;
}
#add-to-cart:hover {
  color: white;
}
.book-summary {
  padding-top: 15%;
}
.top {
  padding-left: 3%;
}
.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  text-indent: 4%;
  font-size: 15px;
  padding-left: 6%;
  padding-right: 6%;
}
/* .reviews {
  text-transform: none;
  text-indent: 4%;
  font-size: 15px;
  padding-left: 5%;
  padding-right: 5%;
}
.reviewer {
  padding-left: 5%;
} */
.similar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.book-name {
  text-transform: none;
  text-align: center;
  font-size: 15px;
}
/* END OF BOOK SUMMARY */



  }
